h1 {
font-family: 'Permanent Marker', cursive;
font-size: 90px;
text-align: center;
}

nav {
font-family: 'Permanent Marker', cursive;
font-size: 20px;
display:flex;
justify-content:space-between
}

p {
    transition: background-color .5s;
  }
  
p:hover {
    background-color: lightblue;
  }

#search-stock {
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}