h1 {
font-family: 'Permanent Marker', cursive;
font-size: 90px;
text-align: center;
}

nav {
font-family: 'Permanent Marker', cursive;
font-size: 20px;

}
.navbar-brand { 
    justify-content: space-between;
}